html,
body,
#root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.titleClass {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 20px;
}
.drawer {
    width: 350px;
    height: 100vh;
    overflow: scroll;
}

.pagetitle {
    font-size: 30px;
    margin-top: 60px;
    
} 
.spinner {
    margin: 0 auto;
    width: 50%;
}
.drawerText {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6rem;
    text-align: justify;
}