html,
body,
#root{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.titleClass {
    font-size: 40px;
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
}
.drawer {
    width: 150px;
    height: 100vh;
    padding: 20px 0;
}
.closeIcon {
    font-size: 20px;
}